@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach (var data in Model.ViewData)
{
    var itemCount = 0;


    if (itemCount == 0)
    {
        @:<div class="row">
    }


    <div class="col s12 m4 l4">
        <div class="card" id="card">
            <div class="card-image waves-effect waves-block waves-light">
                @*<img class="activator" src="images/card-gradient.jpg">*@
            </div>
            <div class="card-content" id="content">
                <span class="card-title main activator grey-text text-darken-4">
                    @data.Catergory
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    @data.Catergory<i class="material-icons right" id="close">close</i>
                </span>
                <p>@Html.Raw(data.Text)</p>
            </div>
        </div>
    </div>
}